nav{
    background-color: #333333;
    top: 0;
    width: 100%;
    overflow: auto;
}
nav li{
    display: inline-block;
    font-size: 20px ;
}
nav a{
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 14px 20px;
    font-weight: bold;
}
nav a:hover{
    background-color: lightgrey; 
    color: black;
    
}
a.active{
    background-color: lightgrey; 
    color: black;
}
body{
    background-color: #bdc3c7;
}
section{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 30px;
    margin: top;
}
article{
    line-height: 25px;
    text-align: justify;
    font-size: 15px;
}
.title{
    font-size: 23px;
    font-weight: bold;
}
.date{
    text-transform: uppercase;
    font-style: italic;
    font-size: 15px;
}

img{
    float: left;
    margin-right: 30px;
    margin-top: 70px;
    width: 30%;
    position: relative;
}
