nav{
    background-color: #333333;
    top: 0;
    width: 100%;
    overflow: auto;
}
nav li{
    display: inline-block;
    font-size: 20px ;
}
nav a{
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 14px 20px;
    font-weight: bold;
}
nav a:hover{
    background-color: lightgrey; 
    color: black;
    
}
a.active{
    background-color: lightgrey; 
    color: black;
}
body{
    background-color: #bdc3c7;
}
input{
    width: 300px;
    height: 20px;
    
}
label{
    width: 168px;
    display: inline-block;
}
select{
    margin-left: 33px;
}
textarea{
    width: 300px;
}
.submit{
    margin-left: 170px;
    width: 100px;
    height: 20px;
    background-color: black;
    color: white;
    height: 35px;
}
.form{
    float: left;
 

}
.map{
    float: right;
    width: 50%;
}
.main{
    text-align: center;
    font-size: 20px;
}
hr{
    border: 2px solid black;
}
