nav{
    background-color: #333333;
    top: 0;
    width: 100%;
    overflow: auto;
}
nav li{
    display: inline-block;
    font-size: 20px ;
}
nav a{
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 14px 20px;
    font-weight: bold;
}
nav a:hover{
    background-color: lightgrey; 
    color: black;
    
}
a.active{
    background-color: lightgrey; 
    color: black;
}
body{
    background-color: #bdc3c7;
}
.heading{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-bottom: 5px solid black;
    
}
.gallery{
    margin: auto;
    overflow: auto;
    float: left;
    width: 100%;
}
img{
   
    width: 30%;
    height: auto;
    margin: 1.5%;
    /*position: relative;*/
    /*align-items: center;*/
}
