nav{
    background-color: #333333;
    top: 0;
    width: 100%;
    overflow: auto;
}
nav li{
    display: inline-block;
    font-size: 20px ;
}
nav a{
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 14px 20px;
    font-weight: bold;
}
nav a:hover{
    background-color: lightgrey; 
    color: black;
    
}
a.active{
    background-color: lightgrey; 
    color: black;
}
body{
    background-color: #bdc3c7;
}

img{
    float: left;
    margin: 10px;
    width: 40%;

}
div{
    width: 100%;
}
.main{
    float: left;
}
.side{
    float: right;
    align-items: center;
}


