nav{
    background-color: #333333;
    top: 0;
    width: 100%;
    overflow: auto;
}
nav li{
    display: inline-block;
    font-size: 20px ;
}
nav a{
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 14px 20px;
    font-weight: bold;
}
nav a:hover{
    background-color: lightgrey; 
    color: black;
    
}
a.active{
    background-color: lightgrey; 
    color: black;
}
body{
    background-color: #bdc3c7;
}

img{
    float: left;
    margin: 10px;
    width: 40%;

}
div{
    width: 100%;
}
.container-1{
    display: flex;
    
}
.container-1 div{
    border-bottom: 5px solid black;
    padding: 10px;
}
.container-2{
    display: flex;
    
}
img{
    width: 500px;
    height: 300px;
    margin-left: 5%;
}
.heading{
    font-size: 20px;
    
}
.main{
    font-size: 20px;
    margin-left: 5px;
}
@media(max-width: 1000px){
    body{
        background-color: white;
    }
}

